logs
project/project
project/target
target
tmp
.history
dist
/out
.idea/libraries
.idea/copyright
.idea/scopes
.idea/sbt.xml
.idea/workspace.xml
.idea/play2_project_settings.xml
/.classpath
/.project
/RUNNING_PID
/.settings
/*.iml