.map {
    margin-top: 40px;
    height: 450px ;
    width: 500px ;
}
.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete-input{
    width:470px;
}

.leiwi-header{
    padding: 20px 20px 20px 30px;
    height: 114px;
    background-color: white;
    text-align:center;
}

.leiwi-logo{
    background-image: url("../../images/leiwi_logo.jpg");
    background-repeat: no-repeat;
    height: 114px;
}

.leiwi-ogdw-logo{
    background-image: url("../../images/leiwi_ogdw_logo.jpg");
    background-repeat: no-repeat;
    height: 114px;
    margin-left:20px;
}


.leiwi-technikum-logo{
    background-image: url("../../images/leiwi_technikum_logo.png");
    background-repeat: no-repeat;
    height: 114px;
}

.line-separator{

    height:1px;

    background:#717171;

    border-bottom:1px solid #313030;

    margin-bottom:10px;
}



.leiwi-opendata-logo{
    background-image: url("../../images/leiwi_opendata_logo.png");
    background-repeat: no-repeat;
    height: 114px;
}

.leiwi-margin-top{
    margin-top: 20px;
}

.leiwi-margin-top-double{
    margin-top: 40px;
}

.leiwi-align-center{
    text-align:center;
}

.leiwi-index{
    font-size: 100pt;
}

.leiwi-catalog{
    margin-top: 30px;
}
