@import play.api.libs.json.JsValue
@(message: JsValue)

@main("Leiwi") {
    <div class="container theme-showcase">
        <div class="row">
            <div class="col-md-12">
                <h4>LEIWI- Lebensqualität in Wien - Willkommen!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Detailansicht
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <th>Katalog</th>
                <th>Beschreibung</th>
                <th>Indexwert</th>
                <th>Entität</th>
            </thead>
            <tbody>
                <tr>
                    <td>@message</td>
                </tr>
            </tbody>
        </table>
    </div>
}
<script src="@routes.Assets.at("javascripts/leiwi/address.js")" type="text/javascript"></script>